
#homegrid {
    position: absolute;
    left: 50%;
    top: 50%;
}

#submitButton {
    background-color: #fff;
    border: 1px solid #31a4ff;
    padding: 3px 15px 3px 15px;
    transition: 0.3s;
}

    #submitButton:hover {
        transition: 0.3s;
        background-color: #31a4ff;
    }

#question{
    color:#333333;
    margin-botom: 15px;
}

